* {
  box-sizing: border-box;
}

body {
  background: url(concrete_seamless.png);
}

.header {
  width: 600;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
}

.button {
  height: 100px;
  width: 300;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

.tile {
  float: left;
  width: 24%;
  margin: 0.5%;
  border: .5px solid lightgrey;
}

.tile img {
  width: 100%;
  display: block;
  visibility: hidden;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  transition: transform .5s;
  transition: .75s;
}

.tile.solved img {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0deg);
}

.tile.open img {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0deg);
}

.tile .back {

}

.tile.open .back,
.tile.solved .back {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

#message {
  width: 600;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
}
